<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
<div class="inner">
    <nav id="nav" style="font-family:verdana;">
  <a href="/" style="color:#FFFFFF">PREDICTIONS</a>
  <a href="/predictions" style="color:#FFFFFF">ABOUT</a>
  </nav>
</div>
</head>

<body>

<p style="font-family:verdana;font-size:25px;font-style:italic;" align="center">
    Hey there! Welcome to Yogiyo, an app design for catch monster just joking.
    This app, it's actually designed to predict yoga poses.
    This is our first Machine Learning project, but hopefully not the last!
</p>
<img src="static/S10.png" style="position:absolute; top:300px; left:650px; width:280px; height:260px">


</body>


<footer>&copy; Copyright & Stuff 2020. By Hanane,Virginie and Veronica Made With ❤️ & a lot of 💧.</footer>
</html>